@font-face {
    font-family: 'Berkeley Mono';
    font-weight: 400; /* Regular */
    font-style: normal;
    src: url('/fonts/BerkeleyMono-Regular.woff2') format('woff2');
	font-display: swap;
}

@font-face {
    font-family: 'Berkeley Mono';
    font-weight: 300; /* Light */
    font-style: normal;
    src: url('/fonts/BerkeleyMono-Light.woff2') format('woff2');
	font-display: swap;
}

@font-face {
    font-family: 'Berkeley Mono';
    font-weight: 400; /* Oblique */
    font-style: oblique;
    src: url('/fonts/BerkeleyMono-Oblique.woff2') format('woff2');
	font-display: swap;
}

@font-face {
    font-family: 'Berkeley Mono';
    font-weight: 300; /* Light Oblique */
    font-style: oblique;
    src: url('/fonts/BerkeleyMono-Light-Oblique.woff2') format('woff2');
	font-display: swap;
}

@font-face {
    font-family: 'Berkeley Mono';
    font-weight: 500; /* Medium */
    font-style: normal;
    src: url('/fonts/BerkeleyMono-Medium.woff2') format('woff2');
	font-display: swap;
}

@font-face {
    font-family: 'Berkeley Mono';
    font-weight: 500; /* Medium Oblique */
    font-style: oblique;
    src: url('/fonts/BerkeleyMono-Medium-Oblique.woff2') format('woff2');
	font-display: swap;
}

@font-face {
    font-family: 'Berkeley Mono';
    font-weight: 700; /* Bold */
    font-style: normal;
    src: url('/fonts/BerkeleyMono-Bold.woff2') format('woff2');
	font-display: swap;
}

@font-face {
    font-family: 'Berkeley Mono';
    font-weight: 700; /* Bold Oblique */
    font-style: oblique;
    src: url('/fonts/BerkeleyMono-Bold-Oblique.woff2') format('woff2');
	font-display: swap;
}
