:root {
    --background: #161616;

    --green: #25be6a;
    --blue: #78a9ff;
    --magenta: #be95ff;
    --cyan: #33b1ff;

    --light-gray: #484848;
    --light-red: #f16da6;
}

pre {
    padding: 10px 5px;
}

pre:has(> code) {
    background-color: var(--background);
    border: solid 2px var(--light-gray);
    border-radius: 0;
    margin: 0;
}

pre > code {
    background-color: var(--background);
}

code.zig .keyword {
    color: var(--magenta);
}

code.zig .keyword_conditional {
    color: var(--magenta);
}

code.zig .type {
    color: var(--magenta);
}

code.zig .variable_builtin {
    color: var(--light-red);
}

code.zig .variable_member {
    color: var(--blue);
}

code.zig .comment {
    color: var(--light-gray);
}

code.zig .function_builtin {
    color: var(--cyan);
}

code.zig .string {
    color: var(--green);
}

code.zig .keyword_import {
    color: var(--magenta);
}

code.zig .module {
    color: white;
}
