:root {
    --space-padding: 0.333rem;
    --primary: #161616;
    --secondary: #262626;
    --third: #2e2e2e;
    --foreground: #f3f3f3;
    --ambient: #17a086;
}

::selection {
    background: var(--ambient);
}

* {
    box-sizing: border-box;
    font-family: "Berkeley Mono";
}

html {
    margin: 0;
    padding: calc(var(--space-padding) * 2);
    width: 100wv;
    color: var(--foreground);
    scroll-behavior: smooth;
    scrollbar-color: var(--ambient) var(--primary);
}

body {
    background-color: var(--primary);
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 80ch;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

nav {
    background-color: color-mix(in oklab, var(--primary) 25%, var(--secondary));
    padding: 7px 0px 7px 0px;
    border-radius: 7px;
}

nav > a {
    color: var(--foreground);
    padding: 7px;
}

nav > a:first-child {
    border-radius: 7px 0px 0px 7px;
}

nav > a:hover {
    color: var(--ambient);
}

nav > a.active {
    padding-bottom: 3px;
    background-color: var(--third);
    border-bottom: 4px solid var(--ambient);
}

nav > a::selection {
    color: var(--foreground)
}

.content {
    border: 4px dashed var(--foreground);
    padding: var(--space-padding);
}

.banner {
    width: 50%;
    align-self: center;
    margin-bottom: calc(var(--space-padding) * 2);
}

.spacer {
    padding-top: 25px;
}

a {
    color: var(--ambient);
    text-decoration: none;
}

main {
    padding-top: 7px;
}

p { 
    margin-top: 10px;
    margin-bottom: 0px;
}
