:root {
    --space-padding: 0.333rem;
    --primary: #161616;
    --secondary: #262626;
    --third: #2e2e2e;
    --fourth: #767676;
    --code-bg: #060606;
    --foreground: #f3f3f3;
    --ambient: #17a086;
    --light-gray: #484848;

    --color-black: var(--secondary);
    --color-red: #e00000;
    --color-green: var(--ambient);
    --color-yellow: #ffc200;
    --color-blue: #ff7322;
    --color-magenta: #ff208f;
    --color-cyan: #0278ff;
    --color-white: #fefeff;
}

::selection {
    background: var(--ambient);
}

* {
    box-sizing: border-box;
    font-family: "Berkeley Mono";
}

*::selection {
    color: var(--foreground)
}

html {
    margin: 0;
    padding: calc(var(--space-padding) * 2);
    color: var(--foreground);
    font-size: 1.1rem;
    scroll-behavior: smooth;
    scrollbar-color: var(--ambient) var(--primary);
}

body {
    background-color: var(--primary);
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 80ch;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--ambient);
    margin: 0;
}

h1 {
    font-size: 1.90rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.60rem;
}

h4 {
    font-size: 1.45rem;
}

h5 {
    font-size: 1.20rem;
}

nav {
    background-color: color-mix(in oklab, var(--primary) 25%, var(--secondary));
    padding: 7px 0px 7px 0px;
    border-radius: 7px;
}

nav > a {
    color: var(--foreground);
    padding: 7px;
    text-decoration: none;
}

nav > a:first-child {
    border-radius: 7px 0px 0px 7px;
}

nav > a:hover {
    color: var(--ambient);
}

nav > a.active {
    padding-bottom: 3px;
    background-color: var(--third);
    border-bottom: 4px solid var(--ambient);
}

a {
    color: var(--ambient);
}

.content {
    border: 4px dashed var(--foreground);
    padding: var(--space-padding);
}

.banner {
    width: 100%;
    align-self: center;
    margin-bottom: calc(var(--space-padding) * 2);
}

.spacer {
    padding-top: 25px;
}


main {
    padding-top: 7px;
}

p { 
    margin-top: 10px;
    margin-bottom: 0px;
}

ul {
    margin-left: 2ch;
    padding: 0;
    list-style: disc;
}

ul li::marker {
    color: var(--ambient);
}

ul li > a {
    color: var(--foreground);
}

details {
    margin-top: 7px;
    padding: 5px;
    border: outset 3px var(--foreground);
}

details summary {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

details summary::-webkit-details-marker {
    display: none;
}

details summary:after {
    content: '▶';
    margin-left: 10px; 
    transform: rotate(180deg);
}

details[open] summary:after {
    transform: rotate(90deg);
}

details > div {
    margin-top: 7px;
    border-top: solid 3px var(--ambient);
}

details > div > p:nth-child(1) {
    margin-top: 7px;
}

details > div > p {
    margin-top: 0;
}

.blog_grades {
    display: flex;
    flex-direction: column;
    margin-top: 7px;
}

.blog_grades > div {
    display: flex;
    flex-direction: row;
}

.blog_grades > div:nth-child(1) { 
    border-top: none;
}

.blog_grades > div { 
    border-top: solid 3px var(--foreground);
}

.blog_grades > div > img {
    max-width: 20%;
    border-right: solid 3px var(--foreground);
    aspect-ratio: 1/1;
}

.blog_grades > div > p:nth-child(1) {
    min-width: 10ch;
    border-right: solid 3px var(--foreground);
}

.blog_grades > div > p {
    padding: 7px;
    margin: 0;
}

.organic {
    color: var(--color-green);
}

.checked {
    color: var(--color-cyan);
}

.assisted {
    color: var(--color-blue);
}

.slop {
    color: var(--color-red);
}

ul .organic::marker {
    color: var(--color-green) !important;
}

ul .checked::marker {
    color: var(--color-cyan) !important;
}

ul .assisted::marker {
    color: var(--color-blue) !important;
}

ul .slop::marker {
    color: var(--color-red) !important;
}

ul .organic, ul .checked, ul .assisted, ul .slop {
    color: var(--foreground);
}

.blogs > li > a {
    color: var(--ambient);
}

code {
    background-color: var(--code-bg);
    color: var(--ambient);
    padding: 0 3px 0 3px;
    border-radius: 5px;
}

h6 {
    color: var(--fourth);
}

.codeblock {
    margin-top: 7px;
    border: solid 4px var(--light-gray);
}

.codeblock > p:nth-child(1) {
    margin: 0;
    padding: 7px;
    background-color: var(--secondary);
}

.codeblock > pre {
    margin: 0;
    padding: 7px;
    overflow: auto;
    background-color: black;
}

main > img {
    display: block;
    margin: auto;
}

figure {
    align-self: center;
    text-align: center;
    font-style: italic;
}

figcaption {
    color: lightgray;
}

hr {
    margin-top: 7px;
    margin-bottom: 7px;
}

.web_buttons {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(8, 88px);
    justify-content: space-around;
}

.toc > div > p > a {
    color: var(--color-cyan);
    text-decoration: none;
}

@media (max-width: 840px) {
    .blog_grades > div > img {
        display: none;
    }

    .web_buttons {
        grid-template-columns: repeat(4, 88px);
    }

    figure > img {
        width: 90% !important;
    }
}

@media (max-width: 420px){
    .web_buttons {
        grid-template-columns: repeat(2, 88px);
    }
}
