:root {
    --page-width: 70%;
    --background: #161616;
    --secondary: #262626;
    --foreground: #f2f4f8;
    --ambient: #17a086;
}

::selection {
    background: var(--ambient);
}

* {
    font-family: "Berkeley Mono";
}

html {
    margin: 0;
    padding: 0;
    color: var(--foreground);
    font-size: 1.1rem;
    scroll-behavior: smooth;
    scrollbar-color: var(--ambient) var(--background);
}

pre, code {
    overflow: auto;
    background-color: black;
    border-radius: 7px;
}

body {
    background-color: var(--background);
    max-width: var(--page-width);
    width: var(--page-width);
    margin: auto;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

nav {
    display: flex;
    padding: 1.7rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: var(--secondary);
    gap: 2rem;
}

nav > a {
    color: white;
    font-size: larger;
    background-color: var(--secondary);
    padding: 7px;
    border-radius: 3.5px;
}

nav > a:last-child {
    display: none;
    margin-left: auto;
}

a {
    color: var(--ambient);
    text-decoration: underscore;
}

a::selection {
    color: white;
}

a > span::selection {
    color: white;
}

a:hover {
    color: var(--ambient);
}

ul {
    margin-left: 16px;
    padding: 0;
}

figure > img {
    width: 35%;
}

figcaption {
    color: lightgray;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    border: 2px solid var(--ambient);
    border-radius: 7px;
    background-color: rgb(from var(--ambient) R G B / 0.5);
    padding: 0.7rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

@media (max-width: 840px) {
    .hi {
        display: none;
    }

    figure > img {
        width: 90% !important;
    }

    nav {
        flex-direction: column;
    }

    nav > a {
        width: fit-content;
    }

    nav > a:last-child {
        margin-left: 0;
    }

    body {
        max-width: 95%;
        width: 95%;
    }
}

@media (max-width: 1079px) {
    figure > img {
        width: 50%;
    }
}

.title > p {
    padding: 0;
    margin: 0;
}

.first {
    margin-top: 1rem;
}

.hi {
    width: 128px;
}

p:has(> .image-auto-width) {
    border: 2px dashed #ffffff;
    padding: 1rem;
}

.image-auto-width {
    max-width: 100%;
}

.block > p {
    margin: 0;
}

.pride {
    background-color: rgb(from var(--secondary) R G B / 0.77) !important;
}

/* FLAGS */
.lgbtqia { background: linear-gradient(to bottom, red 0.00%, red 16.67%, orange 16.67%, orange 33.33%, yellow 33.33%, yellow 50.00%, green 50.00%, green 66.67%, blue 66.67%, blue 83.33%, purple 83.33%, purple 100.00%) !important; }
.transgender { background: linear-gradient(to bottom, #00d1fe 0.00%, #00d1fe 20.00%, #fea3e7 20.00%, #fea3e7 40.00%, #ffffff 40.00%, #ffffff 60.00%, #fea3e7 60.00%, #fea3e7 80.00%, #00d1fe 80.00%, #00d1fe 100.00%) !important; }
.enby { background: linear-gradient(to bottom, #faf258 0.00%, #faf258 25.00%, #ffffff 25.00%, #ffffff 50.00%, #9261cc 50.00%, #9261cc 75.00%, #2c2c2c 75.00%, #2c2c2c 100.00%) !important; }
.agender { background: linear-gradient(to bottom, #000000 0.00%, #000000 14.29%, #bec3c9 14.29%, #bec3c9 28.57%, #ffffff 28.57%, #ffffff 42.86%, #b9f484 42.86%, #b9f484 57.14%, #ffffff 57.14%, #ffffff 71.43%, #bec3c9 71.43%, #bec3c9 85.71%, #000000 85.71%, #000000 100.00%) !important; }
.queer { background: linear-gradient(to bottom, #b57fdd 0.00%, #b57fdd 33.33%, #ffffff 33.33%, #ffffff 66.67%, #49821e 66.67%, #49821e 100.00%) !important; }
.genderfluid { background: linear-gradient(to bottom, #fe76a2 0.00%, #fe76a2 20.00%, #ffffff 20.00%, #ffffff 40.00%, #bf12d7 40.00%, #bf12d7 60.00%, #000000 60.00%, #000000 80.00%, #303cbe 80.00%, #303cbe 100.00%) !important; }
.bisexual { background: linear-gradient(to bottom, #fb0074 0.00%, #fb0074 33.33%, #af4e99 33.33%, #af4e99 66.67%, #0135ab 66.67%, #0135ab 100.00%) !important; }
.cisgender { background: linear-gradient(to bottom, #fb0074 0.00%, #fb0074 50.00%, #0135ab 50.00%, #0135ab 100.00%) !important; }
.pansexual { background: linear-gradient(to bottom, #ff1b90 0.00%, #ff1b90 33.33%, #ffd900 33.33%, #ffd900 66.67%, #01b2fe 66.67%, #01b2fe 100.00%) !important; }
.polysexual { background: linear-gradient(to bottom, #f714ba 0.00%, #f714ba 33.33%, #01d66a 33.33%, #01d66a 66.67%, #1594f6 66.67%, #1594f6 100.00%) !important; }
.omnisexual { background: linear-gradient(to bottom, #fe9ace 0.00%, #fe9ace 20.00%, #ff53bf 20.00%, #ff53bf 40.00%, #200044 40.00%, #200044 60.00%, #6760fe 60.00%, #6760fe 80.00%, #8ea6ff 80.00%, #8ea6ff 100.00%) !important; }
.omniromantic { background: linear-gradient(to bottom, #fec8e4 0.00%, #fec8e4 20.00%, #fda1db 20.00%, #fda1db 40.00%, #89739a 40.00%, #89739a 60.00%, #aba7fe 60.00%, #aba7fe 80.00%, #bfceff 80.00%, #bfceff 100.00%) !important; }
.gay_men { background: linear-gradient(to bottom, #078d70 0.00%, #078d70 20.00%, #98e8c1 20.00%, #98e8c1 40.00%, #ffffff 40.00%, #ffffff 60.00%, #7bade2 60.00%, #7bade2 80.00%, #3d1a78 80.00%, #3d1a78 100.00%) !important; }
.lesbian { background: linear-gradient(to bottom, #d52d00 0.00%, #d52d00 20.00%, #ff9c58 20.00%, #ff9c58 40.00%, #ffffff 40.00%, #ffffff 60.00%, #d560a6 60.00%, #d560a6 80.00%, #a80060 80.00%, #a80060 100.00%) !important; }
.abrosexual { background: linear-gradient(to bottom, #46d294 0.00%, #46d294 20.00%, #a3e9ca 20.00%, #a3e9ca 40.00%, #ffffff 40.00%, #ffffff 60.00%, #f78bb3 60.00%, #f78bb3 80.00%, #ee1766 80.00%, #ee1766 100.00%) !important; }
.asexual { background: linear-gradient(to bottom, #000000 0.00%, #000000 25.00%, #a5a5a5 25.00%, #a5a5a5 50.00%, #ffffff 50.00%, #ffffff 75.00%, #960085 75.00%, #960085 100.00%) !important; }
.aromantic { background: linear-gradient(to bottom, #3ba740 0.00%, #3ba740 20.00%, #a8d47a 20.00%, #a8d47a 40.00%, #ffffff 40.00%, #ffffff 60.00%, #ababab 60.00%, #ababab 80.00%, #000000 80.00%, #000000 100.00%) !important; }
.aroace { background: linear-gradient(to bottom, #e28c00 0.00%, #e28c00 20.00%, #eccd00 20.00%, #eccd00 40.00%, #ffffff 40.00%, #ffffff 60.00%, #62aedc 60.00%, #62aedc 80.00%, #203856 80.00%, #203856 100.00%) !important; }
.bigender { background: linear-gradient(to bottom, #c479a2 0.00%, #c479a2 14.29%, #eda5cd 14.29%, #eda5cd 28.57%, #d6c7e8 28.57%, #d6c7e8 42.86%, #ffffff 42.86%, #ffffff 57.14%, #d6c7e8 57.14%, #d6c7e8 71.43%, #9ac7e8 71.43%, #9ac7e8 85.71%, #6d82d1 85.71%, #6d82d1 100.00%) !important; }
.demigender { background: linear-gradient(to bottom, #7f7f7f 0.00%, #7f7f7f 14.29%, #c4c4c4 14.29%, #c4c4c4 28.57%, #fbff75 28.57%, #fbff75 42.86%, #ffffff 42.86%, #ffffff 57.14%, #fbff75 57.14%, #fbff75 71.43%, #c4c4c4 71.43%, #c4c4c4 85.71%, #7f7f7f 85.71%, #7f7f7f 100.00%) !important; }
.demiboy { background: linear-gradient(to bottom, #7f7f7f 0.00%, #7f7f7f 14.29%, #c4c4c4 14.29%, #c4c4c4 28.57%, #9dd7ea 28.57%, #9dd7ea 42.86%, #ffffff 42.86%, #ffffff 57.14%, #9dd7ea 57.14%, #9dd7ea 71.43%, #c4c4c4 71.43%, #c4c4c4 85.71%, #7f7f7f 85.71%, #7f7f7f 100.00%) !important; }
.demigirl { background: linear-gradient(to bottom, #7f7f7f 0.00%, #7f7f7f 14.29%, #c4c4c4 14.29%, #c4c4c4 28.57%, #fdadc8 28.57%, #fdadc8 42.86%, #ffffff 42.86%, #ffffff 57.14%, #fdadc8 57.14%, #fdadc8 71.43%, #c4c4c4 71.43%, #c4c4c4 85.71%, #7f7f7f 85.71%, #7f7f7f 100.00%) !important; }
.transmasculine { background: linear-gradient(to bottom, #ff8abd 0.00%, #ff8abd 14.29%, #cdf5fe 14.29%, #cdf5fe 28.57%, #9aebff 28.57%, #9aebff 42.86%, #74dfff 42.86%, #74dfff 57.14%, #9aebff 57.14%, #9aebff 71.43%, #cdf5fe 71.43%, #cdf5fe 85.71%, #ff8abd 85.71%, #ff8abd 100.00%) !important; }
.transfeminine { background: linear-gradient(to bottom, #73deff 0.00%, #73deff 14.29%, #ffe2ee 14.29%, #ffe2ee 28.57%, #ffb5d6 28.57%, #ffb5d6 42.86%, #ff8dc0 42.86%, #ff8dc0 57.14%, #ffb5d6 57.14%, #ffb5d6 71.43%, #ffe2ee 71.43%, #ffe2ee 85.71%, #73deff 85.71%, #73deff 100.00%) !important; }
.biromantic { background: linear-gradient(to bottom, #8869a5 0.00%, #8869a5 20.00%, #d8a7d8 20.00%, #d8a7d8 40.00%, #ffffff 40.00%, #ffffff 60.00%, #fdb18d 60.00%, #fdb18d 80.00%, #151638 80.00%, #151638 100.00%) !important; }
.genderflux { background: linear-gradient(to bottom, #f47694 0.00%, #f47694 16.67%, #f2a2b9 16.67%, #f2a2b9 33.33%, #cecece 33.33%, #cecece 50.00%, #7ce0f7 50.00%, #7ce0f7 66.67%, #3ecdf9 66.67%, #3ecdf9 83.33%, #fff48d 83.33%, #fff48d 100.00%) !important; }
.pangender { background: linear-gradient(to bottom, #fff798 0.00%, #fff798 14.29%, #fff798 14.29%, #fff798 28.57%, #ffebfb 28.57%, #ffebfb 42.86%, #ffffff 42.86%, #ffffff 57.14%, #ffebfb 57.14%, #ffebfb 71.43%, #fff798 71.43%, #fff798 85.71%, #fff798 85.71%, #fff798 100.00%) !important; }
.polyamorous { background: linear-gradient(to bottom, #ffffff 0.00%, #ffffff 20.00%, #fcbf00 20.00%, #fcbf00 40.00%, #009fe3 40.00%, #009fe3 60.00%, #e50051 60.00%, #e50051 80.00%, #340c46 80.00%, #340c46 100.00%) !important; }
.sapphic { background: linear-gradient(to bottom, #fd8ba8 0.00%, #fd8ba8 14.29%, #fbf2ff 14.29%, #fbf2ff 28.57%, #c76bc5 28.57%, #c76bc5 42.86%, #fdd768 42.86%, #fdd768 57.14%, #c76bc5 57.14%, #c76bc5 71.43%, #fbf2ff 71.43%, #fbf2ff 85.71%, #fd8ba8 85.71%, #fd8ba8 100.00%) !important; }
